<p id="notice"><%= notice %></p>

<h1>Listing Records</h1>
Total Count: <%= Record.count %><br>
Individual Count <% a = Record.group(:department).count %>
CSE: <%= a[0] %>
IT: <%= a[1] %>
<table class="table">
  <thead>
    <tr>
      <th>Sl no</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Year</th>
      <th>Roll no</th>
      <th>Register no</th>
      <th>H or D</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= record.email %></td>
        <td><%= record.department %></td>
        <td><%= record.year %></td>
        <td><%= record.roll_no %></td>
        <td><%= record.register_no %></td>
        <td><%= record.transport %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
